<!DOCTYPE html>
<html>
<head>
  <title>ExamNinja Grade</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="badiyadi">
    <header class="gradelogo">
        <img class="logo" src="../static/images/ninja.png" width="140" height="70" alt="ExamNinjaLogo">
        <h1 class="ExamNinja">ExamNinja</h1>
    </header>
      <h1 class="myhead"><u>GRADE</u></h1>
    <div class="details">
      <p>Register Number: 222BCAA49</p>
      <p>Test Code: SET1</p>
    <section class="marks">
      <div class="results">
        <p class="percent">{{score}}</p>
        <p class="criteria">to pass 30% or higher</p>
      </div>
      <div class="total">
        <p class="oneMark">{{correct_answers}}</p>
        <p class="twoMark">Total Points</p>
      </div>
    </section>
</body>
</html>
