<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExamNinja - Questions</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>

</head>
<body class="questionpage" oncontextmenu="return false" id="testBody" data-questions="{{ question_dict }}" data-regno="{{ regno }}">
    <video id="video" width="640" height="480" style="display:none" autoplay></video>
<div class="popup" id="vioPopup" style="display:none">
    <p>Suspicious activity detected.</p>
</div>

 <div class="popup" id="emptyPopup" style="display:none; ">
    <p>Please answer all the questions before submitting.</p>
</div>
    <div class="container">
        <div class="header">
            <header class="brand">
                <img class="logoq" src="../static/images/ninja.png" alt="ExamNinjaLogo">
                <h1 class="ExamNinjaq">ExamNinja</h1>
            </header>
            <div class="timer">
                <img class="timerimg" src="../static/images/timer.png" alt="image of a timer" width="40"/>
                <span id="timer">  00:15:00</span>
                
            </div>
        </div>
        <div class="content">
            <div class="sidebar">
                <div id="output"></div>
                <div class="questions">
                    <h3 class="qn"><u>Questions:</u></h3>
                    <ul id="questionList">
                    </ul>
                </div>
            </div>
            <form id="mainquestion" action="{{ url_for('views.test', code=code) }}" method="POST">
                <div id="mother">
                </div>
                <div class="navigation">
                    <button type="button" class="buttonquestion" id="prev" style="display:none" onclick="switchQuestion(activeN-1)">PREVIOUS</button>
                    <button type="button" class="buttonquestion" id="next" onclick="switchQuestion(activeN+1)">NEXT</button>
                    <input type="submit" id="submitButt" style="display:none"/>
                </div>
            </form>
        </div>
    </div>
    <script>
        // Manipulate history to detect back button
        history.pushState(null, null, location.href);
        window.addEventListener('popstate', function(event) {
            window.location.href = "{{ url_for('auth.logout') }}";
        });
    </script>

    <script>
        // Timer script
        let timer = document.getElementById('timer');
let time = 15 * 60; // Convert 15 minutes to seconds

setInterval(() => {
  let minutes = Math.floor(time / 60);
  let seconds = time % 60;

  timer.textContent = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2,   
 '0')}`;

  if (time > 0) {
    time--;
  }
}, 1000);
    </script>
    <script>
        const socket = io();
        violations = 0
        disqualify = function(){
        alert("You have been disqualified for suspicious activity")
        window.location.replace("/ban/"+regno)
    }
    

        // Handle response from server
        socket.on('response', (data) => {
            if (data.name && data.confidence) {
                console.log(`Name: ${data.name}, Confidence: ${data.confidence}`);
                // Update your UI accordingly, e.g., display the name and confidence
                document.getElementById('output').innerHTML = `Person: ${data.name}, Confidence: ${data.confidence}`;
            } else {
                console.log('No face detected');
                document.getElementById('output').innerHTML = 'No face detected';
            }

            if('{{regno}}'=="222BCAA05"||'{{regno}}'=="222BCAA06"||'{{regno}}'=="222BCAA10"){
                 if ((data.confidence>=0.3)&((data.name=="shayari"&&'{{regno}}'!="222BCAA06")||(data.name=="farhaan"&&'{{regno}}'!="222BCAA05")||(data.name=="manas"&&'{{regno}}'!="222BCAA10"))){
                violations++
                if (violations>5){
                    disqualify()
                }
            } else if (data.confidence<=0.3){
                violations++
                if (violations>5){
                    disqualify()
                }    
            }}
        });

        navigator.mediaDevices.getUserMedia({ video: true })
            .then((stream) => {
                const video = document.getElementById('video');
                video.srcObject = stream;

                // Send video frames to the server at intervals
                const sendFrame = () => {
                    const canvas = document.createElement('canvas');
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
                    const ctx = canvas.getContext('2d');
                    ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
                    const frame = canvas.toDataURL('image/jpeg', 0.7); // Convert to JPEG
                    socket.emit('video_frame', frame.split(',')[1]); // Send only the base64 string
                    setTimeout(sendFrame, 3000); // Call every 5 seconds
                };

                sendFrame(); // Start sending frames
            })
            .catch((error) => {
                console.error("Error accessing webcam: ", error);
            });

    </script>
    {% extends "questionPageScript.html"%}
</body>
</html>
