.logo {
  max-width: 4%;
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
}

.ExamNinja{
  display: inline-block;
  vertical-align: middle;
  font-size: 1.45;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.girl{
  padding-left: 10%;
  padding-top: 4%;
  margin-right: 40px;
}

.tagline{
  padding-left: 20%;
  font-family: "Doppio One", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4em;
  color: #E99F31;
  margin-left: 37px;
  margin-top: 5px;
}

.form {
  display: flex;
  font-family: sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background: #ffffff;
  flex-direction: column;
  margin: 0;
}

.main {
  background-color: #f4be32;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 380px;
  text-align: center;
  height: 450px;
}

.signin{
  color: white;
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 34px;
  margin-bottom: 30px;
}

::placeholder{
  color: #6C6E71;
  font-size: 18px;
}

.input {
  display: block;
  width: 85%;
  padding: 14px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin : 0 auto;
  margin-bottom: 18px;
  height: 40px;
}

.signbutton {
  padding: 15px;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #48392B;
  width: 85%;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(107, 101, 101, 0.19);
}

.signbutton:hover {
  background-color: #301d0c;
  color: white;
}

.signbutton:active {
background-color: #261d15;
transform: translateY(4px);
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formbody{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  align-items: center;
}

/*----*/
.logoq {
  max-width: 9%; /*whaaa*/
  display: inline-block;
  vertical-align: middle;
}

.ExamNinjaq{
  display: inline-block;
  vertical-align: middle;
  font-size: 1.45;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.questionpage {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 98%;
  padding: 10px 20px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
  
}

.timeimg{
  width: 10%;
  margin-right: 5%;
}


.timer {
  display: flex;
  column-gap: 9px;
  align-items: center; /* This centers items vertically */
  justify-content: center; /* This centers items horizontally */
  width: 9%;
  background-color: #f4be32;
  white-space: no-wrap;
  padding: 15px;
  border-radius: 5px;
  font-size: 28px;
  font-weight: bold;
  color: #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
  display: flex;
  width: 100%;
  min-width: 1500px;
  min-height: 500px;
  margin-top: 20px;
}

.sidebar {
  background-color: white;
  width: 13%;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 5%;
  border-radius: 10px;
}


.sidebar .questions .qn {
  margin-top: 3%;
}

.qn{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
}

.sidebar .questions ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 9px;
  border: 0 2px 2px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.19);
}

.nos{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 21px;
}

.sidebar .questions ul .nos:hover{
background-color: #225ea3;
color: rgb(255, 255, 255);
}

.nos {
  background-color: #4A90E2;
  color: white;
  padding: 10px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  margin: 10px 0;
  cursor: pointer;
  border: 0 2px 2px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.19);
}

.sidebar .questions ul .nos.empty{
  background-color:  #FFDB58;
}


.sidebar .questions ul .nos.active{
  background-color: #1E8449;
}


#mainquestion {
  background-color: white;
  flex: 1;
  width: 70%;
  height: 500px;
  padding: 20px;
  margin-right: 5%;
  margin-left: 1.5%;;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.main{
  margin-top: 0;
}

.question p {
  font-size: 18px;
}

.question form {
  margin: 20px 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.buttonquestion {
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

#prev {
  background-color: #4A90E2;
  margin-top: 10%;
  margin-left: 1%;
  position: fixed;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#next {
  background-color: #166637;
  position: fixed;
  margin-top:10.10%;
  margin-left: 63.5%;
  padding-left: 25px;
  padding-right: 25px;;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#prev:active{
    background-color: #2c6db8;
    transform: translateY(4px);
}

#prev:hover{
  background-color: #2c6db8;
  color: white;
}

#next:active{
  background-color: #154014;
  transform: translateY(4px);
}

#next:hover{
background-color: #154014;
color: rgb(255, 255, 255);
}

#submitButt{
  background-color: #f4be32;
  height: 25px;
  position: fixed;
  margin-top: 10.25%;
  margin-left: 63%;
  padding-left: 25px;
  padding-right: 25px;;
  font-size: 20px;
  color: white;
  border-color: #f4be32;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  border-radius: 10px;
  text-transform: uppercase;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submitButt:active{
  background-color: #eeae0b;
  transform: translateY(4px);
}

#submitButt:hover{
background-color: #eeae0b;
color: rgb(255, 255, 255);
}


/*popup*/

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 20px;
  z-index: 1000; /* Ensure popup is on top */  
  transition: 2s; /* Fade in/out transition */
}
/*flash*/

.flashes {
  margin: 20px auto;
  max-width: 380px;
}

.flash {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative;
  background-color: #f4f4f4; /* Default background color */
  color: #333; /* Default text color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

/* Different categories of flash messages */
.flash.info {
  background-color: #d9edf7;
  color: #31708f;
}

.flash.success {
  background-color: #dff0d8;
  color: #3c763d;
}

.flash.warning {
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.flash.error {
  background-color: #f2dede;
  color: #a94442;
}

/* Close button styles */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}

.close-btn:hover {
  color: #000;
}

   
/*rules page*/ 

.rulesbody {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
}

.containerrules {
  background-color: #fff;
  padding: 10px;
  margin-top: 1.5%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  height: 500px;
}

.headingrules {
  font-size: 35px;
  margin: 0;
  text-align: center;
}

.headingrulestwo{
  font-size: 25px;
}

.contentrules {
  display: flex;
  margin-top: 8%;
  justify-content: space-between;
  align-items: center;
}

#video-container {
  flex: 1;
  width: 18%;
  margin-top: -12%;
  margin-left: 7%;

}

#video {
  margin-top: 14%;
height: 380px;
border: 1px solid #ccc;
border-radius: 8px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.therules {
  flex: 1;
  text-align: justify;
  margin-top: -10%;
  margin-right: 15%;
  
}

.therules .listrules {
  padding-left: 20px;
  font-size: 20px;
}
.listyea{
  padding-bottom: 3px;
}

.buttondown{
  margin-top: 9%;
  display: flex;
  margin-left: 25%;
  column-gap: 30px;
}

.badbutton{
  background-color: #eb2525;
  position: fixed;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 23px;
  border: #fff;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  border-radius: 10px;
}

.goodbutton{
  background-color: #27a012;
  position: fixed;
  padding-left: 25px;
  margin-left: 10%;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 23px;
  border: #fff;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  border-radius: 10px;
}
.badbutton:active{
background-color: #b31111;
transform: translateY(4px);
}

.badbutton:hover{
background-color: #b31111;
color: white;
}

.goodbutton:active{
background-color: #146113;
transform: translateY(4px);
}

.goodbutton:hover{
background-color: #146113;
color: rgb(255, 255, 255);
}


.headrule{
display: flex;
align-items: flex-start;
width: 100%;
display: inline-block;
vertical-align: middle;
font-size: 30px;
}

/*score page*/

.badiyadi {
  background-color: white;
    background-image: url('../static/images/farman.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; /* This line makes the image fit the entire background */
    background-position: center;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.gradelogo{
display: flex;
justify-content: flex-start;
margin-top: 0.8%;
}

.myhead{
font-size: 35px;
}
.details {
margin-top: 5%;
font-family: "DM Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: normal;
font-size: 28px;
margin-left: 22%;
text-align: justify;
}

.results {
margin-top: 5%;
font-family: "DM Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: normal;
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 11%;
}

.percent {
font-weight: 700;
font-size: 40px;
margin-left: 30%;
font-family: "Goldman", sans-serif;
font-weight: 700;
font-style: normal;
}

.criteria{
margin-top: -10%;
font-family: "DM Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-size: 20px;
}

.marks {
display: flex;
justify-content: space-between;
}


.total{
margin-top: 5%;
font-family: "DM Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: normal;
margin-right: 39%;
}

.oneMark{
font-weight: 700;
font-size: 40px;
margin-left: 10%;
font-weight: 700;
font-size: 40px;
font-family: "Goldman", sans-serif;
font-weight: 700;
font-style: normal;
margin-bottom: 6%;
}

.twoMark{
font-family: "DM Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-size: 20px;
}

/* invigilator */

.invibody {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.containerinvi {
  text-align: center;
  width: 70%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 13%;
  margin-top: 2%;
}

.testcode {
  font-size: 24px;
  color: #d90429;
  margin-bottom: 2%;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  border: 1.5px solid #1b1818;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #f4f4f4;
}

.ban-yes-invi {
  color: rgb(21, 148, 36);
  font-weight: bold;
}

.ban-no-invi {
  color: rgb(218, 23, 23);
  font-weight: bold;
}

.home-button-invi {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin-left: 75%;
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-button-invi:active {
    background-color: #11510b;
    transform: translateY(4px);
}

.home-button-invi:hover {
  background-color: #11510b;
  color: rgb(255, 255, 255);
}
.inviform{
  background-color: #f4be32;
  border-radius: 9px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  transition: transform 0.2s;
  width: 300px;
  text-align: center;
  height: 150px;
  align-items: center;
 
  justify-content: center;

}
.inviform-text{
  font-family:"DM Sans", sans-serif;
  padding:3%;
  font-weight: 900;
}
.signbuttoninvi {
  padding: 10px;
  border-radius: 6px;
  
  margin-bottom: 10px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #48392B;
  width: 85%;
  font-size: 14px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(107, 101, 101, 0.19);
}
.signbuttoninvi:hover {
 
  
  border: 1px solid #261d15;
  color: #1b1818;

  background-color: #ffffff;
 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(107, 101, 101, 0.19);
}